h1 {
    font-size: xx-large;
    color: deeppink;
    font: bold
}


.background {
    text-align: center;
    font-size: large;
    color: blue;
    font: bold
}

.container-badsha {
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    border: 2px solid;
    border-radius: 10px;
    margin-top: 15px;
    background-color: whitesmoke;
    color: black;
}

.skill {
    color: black;
    font-size: xx-large;
    font: bold;
}

.Link {
    color: darkblue;
    font-size: larger;
    font: bold;
}